<header class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</header>


<main class="courses">
  <!--  <p class="demo">{{ startDate | date: 'MMM, dd/yyyy' }}</p>-->
  <!--  <p class="demo">{{ title | uppercase }}</p>-->
  <!--  <p class="demo">{{ price | currency : 'EUR' }}</p>-->
  <!--  <p class="demo">{{ rate | percent }}</p>-->
  <!--  <p class="demo">{{ courses | json }}</p>-->
  @for (course of courses;
    track course.id;
    let count = $count;
    let isFirst = $first;
    let isLast = $last;
    let isEven = $even;
    let isOdd = $odd;
    ) {
    <course-card
      [index]="$index"
      [course]="course"
      (courseSelected)="onCourseSelection($event)"
    />
  } @empty {
    <h2>No courses found!</h2>
  }
</main>
