<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div *ngIf="courses[0] as course" class="courses">

  <course-card
    #highlighter="hl"
    (courseSelected)="onSelectCourse($event)"
    (highlightToggled)="onHighlightToggle($event)"
    [course]="course"
    highlighted
  >

    <course-image
      *ngxUnless="!course.iconUrl"
      [src]="course.iconUrl"
    />

    <div (dblclick)="highlighter.toggle($event)" class="course-description">
      {{ course.longDescription }}
    </div>

  </course-card>


</div>


